/* Silver Background */
.bg-s{
    background-color:#F8F9FA;
}
/* Home Component Background */
.h-text{
    vertical-align: middle;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:10%;
}
/* .home{
margin: 50px 0px 50px 0px;
} */
/* Padding for Home */
.h-p{
        
        padding: 7.4% 0 7.4% 0;
}
.bg-pattern{
background-image: url(./imgs/bg.svg);
background-repeat: no-repeat;
background-size: cover;
}