/* Silver Background */
html {
    scroll-behavior: smooth;
  }
.bg-s{
    background-color:#F8F9FA;
}
/* Home Component Background */
.h-text{
    vertical-align: middle;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:10%;
}
/* .home{
margin: 50px 0px 50px 0px;
} */
/* Padding for Home */
.h-p{
        
        padding: 7.4% 0 7.4% 0;
}
.bg-pattern{
background-image: url(./imgs/bg.svg);
background-repeat: no-repeat;
background-size: cover;
}
.card-img{
height:auto;
width:80%;
}
.card-body{
    transition: transform .3s;
}
.card-body:hover{
    background-color:blue;
    border-radius: 4%;
    color:white;
    transform:scale(1.02);
}

.title{
    font-size: 2.6vh;

}


@media (max-width: 574px) {  
    .bg-pattern{
        background-image:none;
        background-color: #F8F9FA;   
    }
    .card-img{
        width:60% ;
        height:auto;
        }

}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {  
    .bg-pattern{
        background-image:none;
        background-color: #F8F9FA;   
        }
        .card-img{
            height:auto;
            width:65%;
            }
}
 
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  
    
}
 
 