/* Silver Background */
    html {
    scroll-behavior: smooth;
      }
.bg-s{
    background-color:#F8F9FA;
}
/* Home Component Background */
.h-text{
    vertical-align: middle;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:10%;
}
/* .home{
margin: 50px 0px 50px 0px;
} */
/* Padding for Home */
.h-p{
        padding: 7.4% 0 7.4% 0;
}
.bg-pattern{
background-image: url(./imgs/bg.svg);
background-repeat: no-repeat;
background-size:cover;
}
.card-img{
height:auto;
width:80%;
}
.card-body{
    transition: transform .3s;
    text-align:center;
}
.card-body:hover{
    background-color:rgba(0,0,255,0.75);
    border-radius: 4%;
    color:white;
    transform:scale(1.02);
}

.title{
    font-size: 2.6vh;

}
.txtname{
width:48%;
}
.txtbox{
    width:98%;
}
.contactform
{
    margin-left:20px;
}
@media (max-width: 574px) {  
    .bg-pattern{
        background-image:none;
        background-color: #F8F9FA;   
    }
    .card-img{
        width:60% ;
        height:auto;
        }
        .contactform
{
    text-align:center;
        padding-top:0px;
}
.h-p{
        padding: 13.4% 0 7.4% 0;
}

}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {  
    .bg-pattern{
        background-image:none;
        background-color: #F8F9FA;   
        }
        .card-img{
            height:auto;
            width:35%;
            }
             .contactform
{
    text-align:center;
    padding-bottom:90px;
}
.home-illustration{
    width:84%;
    height:auto;
    margin:0 8% 0 8%;
}
}
 
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
  .contactform
 {
text-align:center;
padding-top:20px;
padding-bottom:50px;
}
#home{
padding-bottom:50px;
padding-top:50px;
}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  
     .contactform
    {
    text-align:center;
     padding-top:50px !important;
}
}
 
 @media (min-width: 1200px) {  
     .contactform
    {
    text-align:center;
     padding-top:80px !important;
}
}